<div>
    <h4><a href="{{link}}">{{title}}</a></h4><button class="delete" data-id="{{id}}">Delete Article</button>
    <button class="add-note" data-id="{{id}}">Add Note</button>
    <p>{{text}}</p>
</div>